{% extends 'base.html.twig' %}

{% block title %}Upload{% endblock %}

{% block body %}
    {% for error in app.flashes('error') %}
        <div class="flash-error">
            {{ error }}
        </div>
    {% endfor %}
    {{ include('media/_form.html.twig') }} 

    {# Existing view of staff user's images/files #}
    {% if staff_media is not null %}
        <div id="staff-media-view">
            <div>Your Previous Uploads</div>
            {% for media_item in staff_media %}
                <div class="media-item">
                    <a href="{{ path('media_show', {'mediaId': media_item.mediaId}) }}">
                        <img src="
                            {% if 'image/' in media_item.mimeType %}
                                {# media_item is an image #}
                                {{ asset(relative_url ~ 'images/' ~ media_item.fileName) }}
                            {% endif %}
                        "/>
                    </a>
                    <div class="media-item-title">{{ media_item.title }}</div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
