{# Divide subejcts array in half  #}
{% set guides_list_first_half = subjects|slice(0, subjects|length / 2) %}
{% set guides_list_second_half = subjects|slice(subjects|length / 2) %}

{# TODO: Loop through guide types as set in the config to create the tabs and related elements in the markup #}

{# Tab pills  #}
<ul class="nav nav-pills sp-guide-tabs justify-content-evenly justify-content-md-start" id="ResearchGuidesTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="guide-collections-tab" data-bs-toggle="tab" data-bs-target="#guide-collections" type="button" role="tab" aria-controls="guide-collections" aria-selected="true">{{ 'public.guides.guide_collections.label' | trans }}</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="subject-guides-tab" data-bs-toggle="tab" data-bs-target="#subject-guides" type="button" role="tab" aria-controls="subject-guides" aria-selected="false">{{ 'public.guides.subject_guides.label' | trans }}</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="course-guides-tab" data-bs-toggle="tab" data-bs-target="#course-guides" type="button" role="tab" aria-controls="course-guides" aria-selected="false">{{ 'public.guides.course_guides.label' | trans }}</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="topic-guides-tab" data-bs-toggle="tab" data-bs-target="#topic-guides" type="button" role="tab" aria-controls="topic-guides" aria-selected="false">{{ 'public.guides.topic_guides.label' | trans }}</a>
    </li>
</ul>

{# Tab content  #}
<div class="tab-content mt-4" id="ResearchGuidesTabContent">
    {# Guide Collections  #}
    <div class="tab-pane fade show active" id="guide-collections" role="tabpanel" aria-labelledby="guide-collections-tab">
        <h3 class="d-inline-block">{{ 'public.guides.guide_collections.label' | trans }}</h3>
        <a class="link-default d-inline-block fs-sm ms-3" data-bs-toggle="collapse" role="button" data-bs-target=".multi-collapse-collections" aria-expanded="true" aria-controls="Multi Collapse Guide Collections">({{ 'public.guides.expand_hide.label' | trans }})</a>
        {% include('frontend/subjects/guides/_guide_collections_list.html.twig') %}
    </div>

    {# Subject Guides  #}
    <div class="tab-pane fade" id="subject-guides" role="tabpanel" aria-labelledby="subject-guides-tab">
        <h3 class="d-inline-block">{{ 'public.guides.subject.label' | trans }}</h3>
        <a class="link-default d-inline-block fs-sm ms-3" data-bs-toggle="collapse" role="button" data-bs-target=".multi-collapse-subject" aria-expanded="false" aria-controls="Multi Collapse Subject Guides">({{ 'public.guides.expand_hide.label' | trans }})</a>
        <div class="row mt-3">
            <div class="col-sm-6">
                <ul class="list-unstyled">
                {% for subject in guides_list_first_half  %}
                    {% if subject.type == "Subject" %}
                        {% include('frontend/subjects/guides/_guides_list_item.html.twig') %}
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled">
                {% for subject in guides_list_second_half %}
                    {% if subject.type == "Subject" %}
                        {% include('frontend/subjects/guides/_guides_list_item.html.twig') %}
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {# Course Guides  #}
    <div class="tab-pane fade" id="course-guides" role="tabpanel" aria-labelledby="course-guides-tab">
        <h3 class="d-inline-block">{{ 'public.guides.course.label' | trans }}</h3>
        <a class="link-default d-inline-block fs-sm ms-3" data-bs-toggle="collapse" role="button" data-bs-target=".multi-collapse-course" aria-expanded="false" aria-controls="Multi Collapse Course Guides">({{ 'public.guides.expand_hide.label' | trans }})</a>
        <div class="row mt-3">
            <div class="col-sm-6">
                <ul class="list-unstyled">
                    {% for subject in guides_list_first_half  %}
                        {% if subject.type == "Course" %}
                            {% include('frontend/subjects/guides/_guides_list_item.html.twig') %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled">
                    {% for subject in guides_list_second_half %}
                        {% if subject.type == "Course" %}
                            {% include('frontend/subjects/guides/_guides_list_item.html.twig') %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {# Topic Guides  #}
    <div class="tab-pane fade" id="topic-guides" role="tabpanel" aria-labelledby="topic-guides-tab">
        <h3 class="d-inline-block">{{ 'public.guides.topic.label' | trans }}</h3>
        <a class="link-default d-inline-block fs-sm ms-3" data-bs-toggle="collapse" role="button" data-bs-target=".multi-collapse-topic" aria-expanded="false" aria-controls="Multi Collapse Topic Guides">({{ 'public.guides.expand_hide.label' | trans }})</a>
        <div class="row mt-3">
            <div class="col-sm-6">
                <ul class="list-unstyled">
                    {% for subject in guides_list_first_half  %}
                        {% if subject.type == "Topic" %}
                            {% include('frontend/subjects/guides/_guides_list_item.html.twig') %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled">
                    {% for subject in guides_list_second_half %}
                        {% if subject.type == "Topic" %}
                            {% include('frontend/subjects/guides/_guides_list_item.html.twig') %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>