<li class="mb-3">
    {% if subject.keywords or subject.description %}
        <a class="btn-link fs-sm" data-bs-toggle="collapse" href="#{{ subject.shortform | capitalize }}MoreInfo" role="button" aria-expanded="false" aria-controls="{{ subject.shortform | capitalize }}MoreInfo" title="See guide description/keywords"><i class="fas fa-info-circle"></i></a>

        <a href="{{ path('subject_show', {'shortform':  subject.shortform  } ) }}" class="link-default ms-2">{{ subject.subject | raw }}</a>

        <div class="collapse multi-collapse mt-2 mb-4 fs-sm" id="{{ subject.shortform | capitalize }}MoreInfo">
            {% if subject.description %}
                <p style="margin-left:1.625rem;">{{ subject.description }}</p>
            {% endif %}

            {% if subject.keywords %}
                <p style="margin-left:1.625rem;"><strong>Keywords:</strong> {{ subject.keywords }}</p>
            {% endif %}
        </div>
    {%  else %}
        <a class="btn-link fs-sm disabled" aria-disabled="true"><i class="fas fa-info-circle"></i></a>
        <a href="{{ path('subject_show', {'shortform':  subject.shortform  } ) }}" class="link-default ms-2">{{ subject.subject | raw }}</a>
    {% endif %}
</li>