{% extends 'staff/base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
<?php var_dump($session); ?>
    <p>Welcome, {{ app.user.fname }}</p>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/cbrownroberts/SubjectsPlus5/SP5-Docker-Symfony/sp5-docker/SubjectsPlus/src/Controller/Staff/DashboardController.php'|file_link(0) }}">src/Controller/Staff/DashboardController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/cbrownroberts/SubjectsPlus5/SP5-Docker-Symfony/sp5-docker/SubjectsPlus/templates/staff/dashboard/index.html.twig'|file_link(0) }}">templates/staff/dashboard/index.html.twig</a></code></li>
    </ul>

    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Dashboard</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-2">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                </div>
                <div>
                    <h2>{{ app.user.fname }} {{ app.user.lname }}</h2>
                    <ul class="list-group">
                        <li class="list-group-item">{{ app.user.title }}</li>
                        <li class="list-group-item">{{ app.user.email }}</li>
                        <li class="list-group-item">{{ app.user.tel }}</li>
                    </ul>
                    <a href="/control/admin/profile.php" class="btn btn-primary">
                        {{ 'Edit Profile' | trans  }}
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-2">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                </div>
                <div>
                    <h2>Quick Links</h2>
                    <ul class="list-group">
                        <li class="list-group-item">{{ 'Create New Record' | trans }}</li>
                        <li class="list-group-item">{{ 'Create New Guide' | trans }}</li>
                        <li class="list-group-item">{{ 'Create New FAQ' | trans }}</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
