{% extends 'backend/base.html.twig' %}

{% block title %}{{ 'control.link_checker' | trans }} | SubjectsPlus{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('linkcheck') }}
{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="panel-basic border-basic">
      <h1 class="fw-light">{{ 'control.link_checker' | trans }}</h1>
      <div class="row">
        <div class="col-lg-4">
          <form>
            <div class="input-group">
              {% include 'backend/includes/guide_dropdown.html.twig' with {'dropdownId': 'guide-list', 'selectGuideLabel': 'link_checker.select_guide' | trans } %}
              <button class="btn btn-gradient" type="button" id="checkLinksBtn">{{ 'link_checker.check' | trans }}</button>
            </div>
          </form>
        </div>
        <div class="col-lg-7 offset-lg-1 mt-4 mt-lg-0">
          <h4>{{ 'link_checker.results' | trans }}</h4>
          <table class="table table-striped" id="checkLinksResultsTable"></table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}