{% extends 'base.html.twig' %}

{% block title %}Hello AuthController! | SubjectsPlus{% endblock %}

{% block head %}
    {{ parent() }}
    {% block stylesheets %}
        {{ encore_entry_link_tags('backend-main') }}
    {% endblock %}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="m-auto panel-basic">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/Users/cbrownroberts/SubjectsPlus5/SP5-Docker-Symfony/sp5-docker/SubjectsPlus/src/Controller/Backend/AuthController.php'|file_link(0) }}">src/Controller/Backend/AuthController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/Users/cbrownroberts/SubjectsPlus5/SP5-Docker-Symfony/sp5-docker/SubjectsPlus/templates/backend/auth/index.html.twig'|file_link(0) }}">templates/backend/auth/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}

{% block footer %}
    {% include('backend/includes/footer.html.twig') %}
{% endblock %}
