{% extends 'base.html.twig' %}

{% block title %}AuthController | SubjectsPlus{% endblock %}

{% block head %}
    {{ parent() }}
    {% block stylesheets %}
        {{ encore_entry_link_tags('backend-main') }}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="m-auto panel-basic gradient-border-round">
        <h1 class="h3">{{ controller_name }}</h1>
        <ul>
            <li class="mb-2">{{ 'dashboard.controller.text' | trans }}<br />
                <pre><code><a href="{{ '/Users/cbrownroberts/SubjectsPlus5/SP5-Docker-Symfony/sp5-docker/SubjectsPlus/src/Controller/Backend/AuthController.php'|file_link(0) }}">src/Controller/Backend/AuthController.php</a></code></pre>
            </li>
            <li>{{ 'dashboard.controller.template.text' | trans }}<br />
                <pre><code><a href="{{ '/Users/cbrownroberts/SubjectsPlus5/SP5-Docker-Symfony/sp5-docker/SubjectsPlus/templates/backend/auth/index.html.twig'|file_link(0) }}">templates/backend/auth/index.html.twig</a></code></pre>
            </li>
        </ul>
    </div>
{% endblock %}

{% block footer %}
    {% include('backend/includes/footer.html.twig') %}
{% endblock %}