{% extends 'base.html.twig' %}

{% block title %}Sign In | SubjectsPlus{% endblock %}

{% block head %}
    {{ parent() }}
    {% block stylesheets %}
        {{ encore_entry_link_tags('backend-main') }}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="login-landing">
        <img src="{{ asset('build/images/backend/sp_logo.png') }}" alt="SubjectsPlus logo" class="img-fluid mb-4">
        <h1 class="h3">{{ 'login.form.heading' | trans }}</h1>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <label for="inputEmail">{{ 'login.form.email.label' | trans }}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">{{ 'login.form.password.label' | trans }}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


            {#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
            {#        See https://symfony.com/doc/current/security/remember_me.html#}

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> {{ 'login.form.remember.check' | trans }}
                </label>
            </div>

            <button class="btn btn-primary" type="submit">{{ 'login.form.button' | trans }}</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {% include('backend/includes/footer.html.twig') %}
{% endblock %}