{% extends 'base.html.twig' %}

{% block title %}{{ 'login.form.heading' | trans }} | SubjectsPlus{% endblock %}

{% block head %}
    {{ parent() }}
    {% block stylesheets %}
        {{ encore_entry_link_tags('backend-main') }}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="m-auto panel-basic gradient-border-round">
        <img src="{{ asset('build/images/backend/sp_logo.png') }}" alt="SubjectsPlus logo" class="img-fluid mb-4" style="width: 275px;" />
        <h1 class="h2 fw-light">{{ 'login.form.heading' | trans }}</h1>

        {# TODO: Convert form to Symfony Form #}
        <form method="post">
            {% if error %}
                <div class="mb-4 alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-4 alert alert-info">
                    {{ 'login.form.logged.message' | trans }} <strong>{{ app.user.fname }} {{ app.user.lname }}</strong>. <a href="{{ path('app_logout') }}">({{ 'login.form.logout.prompt' | trans }})</a>
                </div>
            {% endif %}

            <div class="form-floating mb-3">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="{{ 'login.form.email.label' | trans }}">
                <label for="inputEmail">{{ 'login.form.email.label' | trans }}</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="{{ 'login.form.password.label' | trans }}">
                <label for="inputPassword">{{ 'login.form.password.label' | trans }}</label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {# TODO: Add remember_me option below your firewall to activate remember me functionality. #}
            {# See https://symfony.com/doc/current/security/remember_me.html#}

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" name="_remember_me">
                <label class="form-check-label" for="rememberMe">
                    <small>{{ 'login.form.remember.check' | trans }}</small>
                </label>
            </div>

            <button class="btn btn-gradient fw-semi" type="submit">{{ 'login.form.button' | trans }}</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {% include('backend/includes/footer.html.twig') %}
{% endblock %}