{{ form_start(form) }}
    {{ form_row(form.title, {'label': 'control.media_form.title' | trans }) }}
    {{ form_row(form.altText, {'label': 'control.media_form.alt_text' | trans }) }}
    {{ form_row(form.caption, {'label': 'control.media_form.caption' | trans }) }}

    {{ form_label(form.file, null, {
        'label': 'control.media_form.select_file' | trans,
        'label_attr': {'class': 'form-required'}
    }) }}
    <button type="button" class="btn btn-icon-primary fs-sm p-0" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ 'control.media_form.file.help.text' | trans }}"><i class="fas fa-question-circle"></i></button>
    {{ form_widget(form.file) }}

    {{ form_rest(form) }}
    <div class="row mt-5">
        <div class="col-6">
            <button class="btn btn-gradient btn-round">{{ button_label|default('control.form_form.upload_media' | trans) }}</button>
        </div>
        <div class="col-6 text-end align-self-center">
            {% if delete_media is defined %}
                {{ include('backend/media/_trash_button.html.twig') }}
            {% endif %}
        </div>
    </div>
{{ form_end(form) }}
