{% extends 'backend/base.html.twig' %}

{% block title %}Add Details To Upload{% endblock %}

{% block body %}
    {% for error in app.flashes('error') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

        <table class="table">
        <tbody>
            {% if 'image/' in media.mimeType %}
                <tr>
                    <th>Image<th>
                    <td><img src="{{ asset(media | get_media_url) }}" height="200px" width="200px"/></td>
                </tr>
            {% endif %}
            <tr>
                <th>MimeType</th>
                <td>{{ media.mimeType|default('N/A') }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td><a href="{{ media | get_media_url }}">Link to Media</a></td>
            </tr>
        </tbody>
    </table>

    {{ include('backend/media/_form.html.twig') }} 

    <a href="{{ path('media_show', {'mediaId': media.mediaId}) }}">back to media</a>

    {{ include('backend/media/_delete_form.html.twig') }}
{% endblock %}
