{% extends 'backend/base.html.twig' %}

{% block browser_title %}{{ 'control.media.edit_details' | trans }}{% endblock %}

{% block content %}
        <a href="{{ path('media_upload') }}" class="fs-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'control.media.back_to_upload' | trans }}</a>
        <h1 class="fw-light">{{ 'control.media.edit_details' | trans }}</h1>

        <div class="row">
            <div class="text-center text-lg-start col-md-5 col-lg-4 col-xl-3">
                {% if 'image/' in media.mimeType %}
                    <a href="{{ media | get_media_url }}" class="d-inline-block" target="_blank" title="{{ 'control.media.view_file.label' | trans }}">
                        <img src="{{ asset(media | get_media_url('small')) }}" class="img-thumbnail mb-1"/>
                    </a>
                {% else %}
                    <i class="{{ media | get_mime_type_icon_class() }} mb-2"></i>
                {% endif %}
                <p class="fs-sm">{{ 'control.media.media_type.label' | trans }}: {{ media.mimeType|default('control.not_applicable_label' | trans ) }} | <a href="{{ media | get_media_url }}" target="_blank">{{ 'control.media.view_file.label' | trans }}</a></p>
            </div>
            <div class="col-md-7 col-lg-7 col-xl-6 offset-lg-1">
                {% set delete_media = 'true' %}
                {{ include('backend/media/_form.html.twig', {'button_label': 'control.media_form.save_media_details' | trans } ) }}
                {{ include('backend/media/_delete_form.html.twig') }}

                <table class="table table-borderless mt-5">
                    <tbody>
                    <tr>
                        <th>{{ 'control.media_details.attachments' | trans }}</th>
                        <td>
                            {# TODO: Link to attachment if it's a pluslet, FAQ is working fine #}
                            {% for attachment in (media | get_media_attachments) %}
                                <a href="{{ '/control/%s/%s' | format(attachment.attachmentType, attachment.attachmentId) }}" class="btn-link-default fs-sm">
                                    {{'%s:%s'| format(attachment.attachmentType, attachment.attachmentId) }}
                                </a><br/>
                            {% else %}
                                {{ 'control.not_applicable_label' | trans }}
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
{% endblock %}