<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasMediaToken" aria-labelledby="offcanvasMediaTokenLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasMediaTokenLabel">{{ 'control.flyout.add_media_token.heading' | trans }}</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="{{ 'close.aria.label' | trans }}"></button>
    </div>
    <div class="offcanvas-body">
        <style>
            #media-list li {
                background: #FAFAFA;
                margin-bottom: 1px;
                height: 56px;
                line-height: 56px;
                cursor: pointer;
            }

            #media-list li:nth-child(2n) {
                background: #F3F3F3;
            }

            #media-list li:hover {
                background: #FFFDE3;
                border-left: 5px solid #DCDAC1;
                margin-left: -5px;
            }

            .media-card {
                padding: 0 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .media-card .media-picture {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }
        </style>
        <div id="media-browser-container"></div>
        <script>
            const CURRENT_STAFF_ID = "{{ app.user.staffId }}";
            const ATTACHMENT_TYPE = "{{ attachment_type }}";
            const ATTACHMENT_ID = "{{ attachment_id }}";
        </script>
        {{ encore_entry_script_tags('media_browser_loader') }}
    </div>
</div>