{% extends 'backend/base.html.twig' %}

{% block title %}{{ 'control.media.upload.title' | trans }} | SubjectsPlus{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bs_tooltips') }}
{% endblock %}

{% block content %}
<div class="container py-5">

    {% for error in app.flashes('error') %}
        <div class="flash-error alert alert-info text-center mb-4">
            {{ error }}
        </div>
    {% endfor %}

    <a href="#" class="fs-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'control.media.back_to_list' | trans }}</a>
    <h1 class="fw-light">{{ 'control.media.upload.title' | trans }}</h1>

    <div class="row mt-4">
        <div class="col-md-7 col-lg-6 col-xl-5">
            <div class="panel-basic border-basic">
                {% set new_media = 'true' %}
                {{ include('backend/media/_form.html.twig') }}
            </div>
        </div>
        <div class="col-md-4 col-lg-5 col-xl-6 offset-md-1">
            {# Existing view of staff user's images/files #}
            {% if staff_media is not null %}
                <div id="staff-media-view">
                    <h3 class="mt-4 mt-md-0">{{ 'control.media.upload.previous_uploads' | trans }}</h3>
                    <ul class="list-unstyled sp-media-uploads-list">
                        {% for media_item in staff_media %}
                            <li class="media-item">
                                <a href="{{ path('media_show', {'mediaId': media_item.mediaId}) }}" class="d-inline-block me-2">
                                    {% if 'image/' in media_item.mimeType %}
                                        {# media_item is an image #}
                                        <img src="{{ asset(media_item | get_media_url('small')) }}" />
                                    {% else %}
                                        <i class="{{ media_item | get_mime_type_icon_class() }}"></i>                        
                                    {% endif %}
                                </a>
                                <div class="media-item-title fs-xs lh-sm"><a href="{{ path('media_show', {'mediaId': media_item.mediaId}) }}" class="btn-link-default">{{ media_item.title }}</a></div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}