{% extends 'patron/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
  {% if special_header and header_exists_for_theme(special_header) %}
    {{ include_header_from_theme(special_header) }}
  {% else %}
    {{ include('patron/shared/header.html.twig')}}
  {% endif %}
{% endblock %}

{% block body %}
<h2>{{ title | raw }}</h2>
<ul class="nav nav-pills">
    {{ include('patron/guide/tabs/tabs.html.twig') }}
</ul>
<div class="tab-content">
  {% for tab in tabs %}
    <div class="tab-pane {% if loop.first %} show active {% endif %}" id="{{ tab.id}}" role="tabpanel">
      {% for section in tab.sections %}
        <div class="row">
          {% for column_number, column_contents in section.columns %}
          <div class="{{ column_class(section.layout, column_number) }}">
            {% for pluslet in column_contents.pluslets %}
              {% include('patron/guide/pluslets/pluslet.html.twig') %}
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>


{% endblock %}