{% extends 'staff/base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
    <h1>FAQ</h1>

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table">
        <tbody>
            <tr>
                <th>FaqId</th>
                <td>{{ faq.faqId }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ faq.question | raw }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ faq.answer | raw }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>
                    {% for keyword in faq.keywords %}
                        {{ keyword }}
                        {% if not loop.last %}
                            {{'| '}}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Visibility</th>
                <td>
                    {% if faq.active %}
                        {{ 'Active' }}
                    {% else %}
                        {{ 'Inactive' }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Staff</th>
                {% for entry in staff %}
                    <span><td>{{ "%s, %s"|format(entry.dateAdded|format_date(), entry.email) }}</td></span>
                {% endfor %}
            </tr>
            <tr>
                <th>Subjects</th>
                {% for subject in subjects %}
                    <span><td>{{ subject.subject }}</td><span>
                {% endfor %}
            </tr>
            <tr>
                <th>Collections</th>
                {% for faqpage in faqpages %}
                    <span><td>{{ faqpage.name }}</td></span>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('faq_index') }}">back to list</a>

    <a href="{{ path('faq_edit', {'faqId': faq.faqId}) }}">edit</a>

    {{ include('faq/_delete_form.html.twig') }}
{% endblock %}
