{% extends 'staff/base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
    <h1>FAQ</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>FaqId</th>
                <td>{{ faq.faqId }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ faq.question | raw }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ faq.answer | raw }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ faq.keywords }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('faq_index') }}">back to list</a>

    <a href="{{ path('faq_edit', {'faqId': faq.faqId}) }}">edit</a>

    {{ include('faq/_delete_form.html.twig') }}
{% endblock %}
