{# TODO: Dynamically list user's 5 recent guides and favorite guides #}
<ul class="nav nav-tabs" id="dashboardGuidesTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active fs-sm" id="recent-guides-tab" data-bs-toggle="tab" data-bs-target="#recentGuides" type="button" role="tab" aria-controls="recentGuides" aria-selected="true"><i class="fas fa-calendar-alt"></i> {{ 'control.dashboard.guides.tab_heading.recent' | trans  }}</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link fs-sm" id="favorite-guides-tab" data-bs-toggle="tab" data-bs-target="#favoriteGuides" type="button" role="tab" aria-controls="favoriteGuides" aria-selected="false"><i class="fas fa-star"></i> {{ 'control.dashboard.guides.tab_heading.favorites' | trans  }}</button>
    </li>
</ul>
<div class="tab-content" id="dashboardGuidesTab">
    <div class="tab-pane fade show active" id="recentGuides" role="tabpanel" aria-labelledby="recent-guides-tab">
        <h2 class="d-inline-block mt-3">{{ 'control.dashboard.guides_heading' | trans  }}</h2> <a href="/control/guides/" class="btn- fs-sm">{{ 'control.dashboard.see_all_guides' | trans  }}</a>
        <ul class="list-unstyled list-img-75">
            <li class="d-flex mb-2">
                <a href="#" class="d-inline-block"><img src="{{ asset('build/images/backend/placeholder1.jpg') }}" class="img-thumbnail list-img" alt="Guide thumbnail" /></a>
                <div class="list-content">
                    <a href="#" class="link-default">Modern Art</a>
                    <span class="fst-italic d-block fs-xs mt-2"> Updated: Feb 1, 2022 by p.villanueva</span>
                </div>

            </li>
            <li class="d-flex mb-2">
                <a href="#" class="d-inline-block"><img src="{{ asset('build/images/backend/thumb75.jpg') }}" class="img-thumbnail list-img" alt="Guide thumbnail" /></a>
                <div class="list-content">
                    <a href="#" class="link-default">APY 418: Introduction to Native and Indigenous Peoples and Perspectives: Stories of Resistance and Resilience</a>
                    <span class="fst-italic d-block fs-xs mt-2"> Updated: Feb 10, 2022 by agdarby</span>
                </div>
            </li>
            <li class="d-flex mb-2">
                <a href="#" class="d-inline-block"><img src="{{ asset('build/images/backend/thumb75.jpg') }}" class="img-thumbnail list-img" alt="Guide thumbnail" /></a>
                <div class="list-content">
                    <a href="#" class="link-default">Native American and Global Indigenous Studies (NAGIS)</a>
                    <span class="fst-italic d-block fs-xs mt-2"> Updated: Feb 20, 2022 by rxd702</span>
                </div>
            </li>
            <li class="d-flex mb-2">
                <a href="#" class="d-inline-block"><img src="{{ asset('build/images/backend/placeholder2.jpg') }}" class="img-thumbnail list-img" alt="Guide thumbnail" /></a>
                <div class="list-content">
                    <a href="#" class="link-default">ARC 362/662/363/663 Environment | Building | System</a>
                    <span class="fst-italic d-block fs-xs mt-2"> Updated: Feb 23, 2022 by rxd702</span>
                </div>
            </li>
            <li class="d-flex mb-2">
                <a href="#" class="d-inline-block"><img src="{{ asset('build/images/backend/thumb75.jpg') }}" class="img-thumbnail list-img" alt="Guide thumbnail" /></a>
                <div class="list-content">
                    <a href="#" class="link-default">Banned Books Week 2021</a>
                    <span class="fst-italic d-block fs-xs mt-2"> Updated: Feb 23, 2022 by charlesbrownroberts</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="tab-pane fade" id="favoriteGuides" role="tabpanel" aria-labelledby="favorite-guides-tab">
        <h2 class="d-inline-block mt-3">{{ 'control.dashboard.favorite_guides_heading' | trans  }}</h2> <a href="/control/guides/" class="btn-link fs-sm">{{ 'control.dashboard.see_all_favorite_guides' | trans  }}</a>
        <ul class="list-unstyled list-img-75">
            <li class="d-flex mb-2">
                <a href="#" class="d-inline-block"><img src="{{ asset('build/images/backend/thumb75.jpg') }}" class="img-thumbnail list-img" alt="Guide thumbnail" /></a>
                <div class="list-content">
                    <a href="#" class="link-default">Modern Art</a>
                    <span class="fst-italic d-block fs-xs mt-2"> Updated: Feb 1, 2022 by p.villanueva</span>
                </div>

            </li>
            <li class="d-flex mb-2">
                <a href="#" class="d-inline-block"><img src="{{ asset('build/images/backend/thumb75.jpg') }}" class="img-thumbnail list-img" alt="Guide thumbnail" /></a>
                <div class="list-content">
                    <a href="#" class="link-default">APY 418: Introduction to Native and Indigenous Peoples and Perspectives: Stories of Resistance and Resilience</a>
                    <span class="fst-italic d-block fs-xs mt-2"> Updated: Feb 10, 2022 by agdarby</span>
                </div>
            </li>
            <li class="d-flex mb-2">
                <a href="#" class="d-inline-block"><img src="{{ asset('build/images/backend/thumb75.jpg') }}" class="img-thumbnail list-img" alt="Guide thumbnail" /></a>
                <div class="list-content">
                    <a href="#" class="link-default">Native American and Global Indigenous Studies (NAGIS)</a>
                    <span class="fst-italic d-block fs-xs mt-2"> Updated: Feb 20, 2022 by rxd702</span>
                </div>
            </li>
            <li class="d-flex mb-2">
                <a href="#" class="d-inline-block"><img src="{{ asset('build/images/backend/thumb75.jpg') }}" class="img-thumbnail list-img" alt="Guide thumbnail" /></a>
                <div class="list-content">
                    <a href="#" class="link-default">ARC 362/662/363/663 Environment | Building | System</a>
                    <span class="fst-italic d-block fs-xs mt-2"> Updated: Feb 23, 2022 by rxd702</span>
                </div>
            </li>
            <li class="d-flex mb-2">
                <a href="#" class="d-inline-block"><img src="{{ asset('build/images/backend/thumb75.jpg') }}" class="img-thumbnail list-img" alt="Guide thumbnail" /></a>
                <div class="list-content">
                    <a href="#" class="link-default">Banned Books Week 2021</a>
                    <span class="fst-italic d-block fs-xs mt-2"> Updated: Feb 23, 2022 by charlesbrownroberts</span>
                </div>
            </li>
        </ul>
    </div>
</div>
