{% extends 'backend/base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}




        <div class="container px-4 py-5" id="hanging-icons">
            <h2 class="pb-2 border-bottom">{{ 'control.dashboard' | trans }}</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
                <div class="col d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-2">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                    </div>
                    <div>
                        <h2>{{ app.user.fname }} {{ app.user.lname }}</h2>
                        <ul class="list-group">
                            <li class="list-group-item">{{ app.user.title }}</li>
                            <li class="list-group-item">{{ app.user.email }}</li>
                            <li class="list-group-item">{{ app.user.tel }}</li>
                        </ul>
                        <a href="/control/staff/{{ app.user.staffId }}/edit" class="btn btn-primary">
                            {{ 'control.dashboard.edit_profile' | trans  }}
                        </a>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-2">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                    </div>
                    <div>
                        <h2>{{ 'control.dashboard.quick_links' | trans }}</h2>
                        <ul class="list-group">
                            <li class="list-group-item">{{ 'control.dashboard.create_new_record' | trans }}</li>
                            <li class="list-group-item">{{ 'control.dashboard.create_new_guide' | trans }}</li>
                            <li class="list-group-item">{{ 'control.dashboard.create_new_faq' | trans }}</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

{% endblock %}