{% extends 'backend/base.html.twig' %}

{% block title %}{{ 'control.dashboard' | trans }} | SubjectsPlus{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mode-switcher') }}
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row row-cols-2">
            <div class="col-7">
                <h1 class="fw-light">{{ 'control.dashboard' | trans }}</h1>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchMode">
                    <label class="form-check-label" for="switchMode">{{ 'control.dashboard.enable_dark_mode' | trans }}</label>
                </div>
            </div>
            <div class="col-5 text-end">
                <div class="dropdown basic-dropdown">
                    <button class="btn btn-gradient btn-pill-icon dropdown-toggle" type="button" id="dropdownQuickLinks" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-plus-circle"></i> {{ 'control.dashboard.create_new_button' | trans }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownQuickLinks">
                        <li><a class="dropdown-item" href="#">{{ 'control.dashboard.create_new_guide' | trans }}</a></li>
                        <li><a class="dropdown-item" href="#">{{ 'control.dashboard.create_new_record' | trans }}</a></li>
                        <li><a class="dropdown-item" href="/control/faq/new">{{ 'control.dashboard.create_new_faq' | trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-basic border-basic mt-4">
            <h2>{{ app.user.fname }} {{ app.user.lname }}</h2>
            <ul class="list-unstyled">
                <li>{{ app.user.title }}</li>
                <li>{{ app.user.email }}</li>
                <li>{{ app.user.tel }}</li>
            </ul>
            <a href="/control/staff/{{ app.user.staffId }}/edit" class="btn btn-gradient">
                <i class="fas fa-edit"></i> {{ 'control.dashboard.edit_profile' | trans  }}
            </a>
        </div>
    </div>
{% endblock %}