<div class="modal fade" id="confirmDeleteGuide" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmDeleteGuideLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirmDeleteGuideLabel"><i class="fas fa-exclamation-circle btn-link-danger"></i> {{ 'control.guide.delete_guide.modal.header' | trans }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'close.aria.label' | trans }}"></button>
            </div>
            <div class="modal-body">
                <p class="text-start">{{ 'control.guide.delete_guide.modal.text' | trans }}</p>
                {# TODO: Delete form for guide  #}
                <form method="" action="#">
                    <input type="hidden" name="_token" value="">
                    <div class="text-end">
                        <button type="button" class="btn btn-link-default me-2" data-bs-dismiss="modal">{{ 'control.guide.delete_guide.cancel_button' | trans }}</button>
                        <button type="submit" class="btn btn-danger btn-round"><i class="fas fa-trash"></i> {{ 'control.guide.delete_guide.confirm_button' | trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>