<div class="row">
    <div class="col-md-6 col-lg-6 col-xl-5">
        {# TODO: autocomplete search with filters #}
        <form>
            <div class="mb-3 mb-md-0">
                <input type="text" class="form-control" placeholder="{{ 'control.guides.search.placeholder' | trans }}" aria-label="{{ 'control.header.search.aria.label' | trans }}">
            </div>
        </form>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 align-self-md-center">
        {# TODO: multi-select filters with react-select #}
        <div class="d-flex flex-row flex-nowrap align-items-baseline">
            <span class="fs-sm d-inline-block" style="width: 65px;">{{ 'control.guides.filter_by' | trans }}:</span>
            <select class="form-select form-select-sm d-inline-block" style="width: calc(100% - 200px);" aria-label="{{ 'control.faqs.filter.type.aria' | trans }}">
                <option selected>{{ 'control.guides.filter.type' | trans }}</option>
                <option value="1">Subject</option>
                <option value="2">Course</option>
                <option value="3">Topic</option>
                <option value="4">Placeholder</option>
            </select>
        </div>
    </div>
</div>