{% extends 'backend/base.html.twig' %}

{% block title %}{{ 'control.header.guides.guide_builder' | trans }}: {{ guide.subject | raw }} | SubjectsPlus{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('guide_builder_loader') }}
{% endblock %}

{% block content %}
<div class="container py-5">
    {% for message in app.flashes('notice') %}
        <div class="flash-notice alert alert-info text-center mb-4">
            {{ message }}
        </div>
    {% endfor %}

    <a href="{{ path('guide_index') }}" class="fs-sm d-block"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'control.guides.back_to_list' | trans }}</a>
        <h1 class="fw-light mb-1 me-1 d-inline">{{ guide.subject | raw }}</h1>
        <a class="btn-link fs-4" data-bs-toggle="offcanvas" href="#offcanvasGuideDetails" role="button" aria-controls="offcanvasGuideDetails" title="{{ 'control.guides.table.button.guide_details' | trans }}"><i class="fas fa-cog"></i></a>
        {# TODO: Display and link to full public URL #}
        <a href="#" class="btn-link fs-xs d-block" style="max-width:fit-content;" title="{{ 'control.guide.preview.label' | trans }}"><i class="fas fa-eye"></i> {{ guide.shortform }}</a>

    <div id="guide-builder-container" class="mt-4"></div>
</div>
{{ include('backend/guide/_offcanvas_guide_details.html.twig') }}
{{ include('backend/media/sidebar.html.twig') }}
{{ include('backend/records/sidebar.html.twig') }}
{% endblock %}