{% extends 'backend/base.html.twig' %}

{% block browser_title %}{{ 'control.header.guides.guide_builder' | trans }}: {{ guide.subject | raw }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('guide_builder_loader') }}
{% endblock %}

{% block content %}
    <a href="{{ path('guide_index') }}" class="fs-xs"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'control.guides.back_to_list' | trans }}</a>

    <a class="btn-link fs-xs ms-2" data-bs-toggle="offcanvas" href="#offcanvasGuideDetails" role="button" aria-controls="offcanvasGuideDetails" title="{{ 'control.guides.table.button.guide_details' | trans }}"><i class="fas fa-cog"></i> {{ 'control.guides.table.button.guide_details' | trans }}</a>

    <a id="shortform-link" href="{{ path('subject_show', {'shortform': guide.shortform}) }}" class="btn-link fs-xs ms-2" title="{{ 'control.guide.preview.label' | trans }}" target="_blank"><i class="fas fa-eye"></i> <span id="shortform-label">{{ 'control.guide.preview.label' | trans }}</span></a>

    <h1 id="subject-heading" class="fw-light">{{ guide.subject | raw }}</h1>

    <div id="guide-builder-container" class="mt-4" data-subject-id="{{ guide.subjectId }}"></div>

{{ include('backend/guide/_offcanvas_guide_details.html.twig') }}
{{ include('backend/media/sidebar.html.twig') }}
{{ include('backend/records/sidebar.html.twig') }}
{% endblock %}