{% extends 'backend/base.html.twig' %}

{% block title %}{{ 'control.guide_meta.edit.header' | trans }} | SubjectsPlus{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bs_tooltips') }}
{% endblock %}

{% block content %}
    <div class="container py-5">
        <a href="{{ path('guide_index') }}" class="d-block fs-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'control.guides.back_to_list' | trans }}</a>
        <h1 class="fw-light d-inline-block me-2 mb-0">{{ 'control.guide_meta.edit.header' | trans }}</h1>
        <a href="{{ path('guide_build', {'subjectId': guide.subjectId}) }}" class="btn-link fs-sm align-baseline"><i class="fas fa-pen"></i> {{ 'control.guide.table.button.guide_builder' | trans }}</a>
        <a href="{{ path('subject_show', {'shortform': guide.shortform}) }}" target="_blank" class="btn-link fs-xs d-block" style="max-width:fit-content;" title="{{ 'control.guide.preview.label' | trans }}"><i class="fas fa-eye"></i> {{ guide.shortform }}</a>

        {% set delete_guide = 'true' %}
        {% set update_history = 'true' %}
        {{ include('backend/guide/_form.html.twig', {'button_label': 'control.guide_form.save_guide_details' | trans }) }}
    </div>
{% endblock %}