{% extends 'backend/base.html.twig' %}

{% block title %}{{ 'control.guide_meta.edit.header' | trans }} | SubjectsPlus{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bs_tooltips') }}
{% endblock %}

{% block content %}
    <div class="container py-5">
        <a href="{{ path('guide_index') }}" class="fs-xs"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'control.guides.back_to_list' | trans }}</a>

        <a href="{{ path('guide_build', {'subjectId': guide.subjectId}) }}" class="btn-link fs-xs ms-2"><i class="fas fa-pen"></i> {{ 'control.guide.table.button.guide_builder' | trans }}</a>

        <a href="{{ path('subject_show', {'shortform': guide.shortform}) }}" target="_blank" class="btn-link fs-xs ms-2" title="{{ 'control.guide.preview.label' | trans }}"><i class="fas fa-eye"></i> {{ 'control.guide.preview.label' | trans }}</a>

        <h1 class="fw-light">{{ 'control.guide_meta.edit.header' | trans }}</h1>

        {% set delete_guide = 'true' %}
        {% set update_history = 'true' %}
        {{ include('backend/guide/_form.html.twig', {'button_label': 'control.guide_form.save_guide_details' | trans }) }}
    </div>
{% endblock %}