{% extends 'backend/base.html.twig' %}

{% block browser_title %}{{ 'control.guide_meta.header' | trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bs_tooltips') }}
{% endblock %}

{% block content %}
        <a href="{{ path('guide_index') }}" class="fs-sm"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'control.guides.back_to_list' | trans }}</a>
        <h1 class="fw-light">{{ 'control.guide_meta.header' | trans }}</h1>
        {{ include('backend/guide/_form.html.twig') }}
{% endblock %}