{% extends 'backend/base.html.twig' %}

{% block title %}{{ 'control.guide_meta.show.header' | trans }} | SubjectsPlus{% endblock %}

{% block content %}
<div class="container py-5">
    <a href="{{ path('guide_index') }}" class="fs-xs"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'control.guides.back_to_list' | trans }}</a>

    <a href="{{ path('guide_build', {'subjectId': guide.subjectId}) }}" class="btn-link fs-xs ms-2"><i class="fas fa-pen"></i> {{ 'control.guide.table.button.guide_builder' | trans }}</a>

    <a href="{{ path('subject_show', {'shortform': guide.shortform}) }}" target="_blank" class="btn-link fs-xs ms-2" title="{{ 'control.guide.preview.label' | trans }}"><i class="fas fa-eye"></i> {{ 'control.guide.preview.label' | trans }}</a>

    <h1 class="fw-light">{{ guide.subject | raw }}</h1>

    <div class="row mt-4">
        <div class="col-lg-6 col-xl-6">
            <div class="border-basic">
                <table class="table table-striped table-borderless table-responsive mb-0 fs-sm">
                    <tbody>
                    <tr>
                        <th>Short Form</th>
                        <td>{{ guide.shortform }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ guide.type }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>
                            {% if guide.active == 1 %}
                                {{ 'control.guides.show.type.active' | trans }}
                            {% elseif guide.active == 0 %}
                                {{ 'control.guides.show.type.inactive' | trans }}
                            {% elseif guide.active == 2 %}
                                {{ 'control.guides.show.type.suppressed' | trans }}
                            {% else %}
                                {{ 'control.not_applicable_label' | trans }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Staff</th>
                        {# TODO: Staff associated with guide #}
                        <td></td>
                    </tr>
                    <tr>
                        <th>Keywords</th>
                        <td>
                            {{ guide.keywords }}
                        </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ guide.description }}</td>
                    </tr>
                    <tr>
                        <th>Redirect URL</th>
                        <td>{{ guide.redirectUrl }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-5 col-xl-4 offset-lg-1">
            <h5 class="mt-4 mt-lg-0">Thumbnail</h5>
            <img src="{{ asset('build/images/backend/thumb75.jpg') }}" class="img-thumbnail" alt="Guide thumbnail" style="width: 70px;" />

            <h5 class=" mt-4 fw-semi mb-1">Blackboard Integration</h5>
            <table class="table table-striped table-borderless table-sm table-responsive mt-3 fs-sm">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Instructor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ guide.courseCode }}</td>
                        <td>{{ guide.instructor }}</td>
                    </tr>
                </tbody>
            </table>

            <h5 class="mt-4 fw-semi mb-1">Theme</h5>
            <p class="fs-sm">{{ guide.header }}</p>
            <div class="row row-cols-2 mt-5">
                <div class="col-8">
                    <a class="btn btn-gradient btn-round" href="{{ path('guide_edit', {'subjectId': guide.subjectId}) }}">{{ 'control.guide_form.edit_guide_details' | trans }}</a>
                </div>
                <div class="col-4 text-end align-self-center">
                    {{ include('backend/guide/_trash_button.html.twig') }}
                    {{ include('backend/guide/_delete_form.html.twig') }}
                </div>
            </div>
            {{ include('backend/guide/_update_history.html.twig') }}
        </div>
        <div class="col-xl-1"></div>
    </div>
</div>
{% endblock %}