<div class="pluslet" data-type="{{ pluslet.type }}">
    <span class="visually-hidden">{{ 'plusletId: ' ~ pluslet.plusletId }}</span>
    <h3 class="pluslet-title">
        {{ pluslet.title }}
    </h3>
    {% if pluslet.type != 'Heading' %}
        <div class="pluslet-body">
            {% if pluslet.type == 'SubjectSpecialist' %}
                {{ include('frontend/subjects/pluslets/_subject_specialist.html.twig') }}
            {% elseif pluslet.type == 'GoogleSearch' or pluslet.type == 'GoogleScholar' or pluslet.type == 'GoogleBooks' %}
                {{ include('frontend/subjects/pluslets/_google_search.html.twig') }}
           {% elseif pluslet.type == 'HTML5Video' %}
                {{ include('frontend/subjects/pluslets/_html5_video.html.twig') }}
           {% else %}
                {{ include('frontend/subjects/pluslets/_basic_pluslet.html.twig') }}
            {% endif %}
        </div>
    {% endif %}
</div>