<div class="pluslet" data-type="{{ pluslet.type }}">
    <span class="visually-hidden">{{ 'plusletId: ' ~ pluslet.plusletId }}</span>
    {% if pluslet.type == 'Heading' %}
        {{ include('frontend/subjects/pluslets/_heading_pluslet.html.twig') }}
    {% elseif pluslet.type == 'SubjectSpecialist' %}
        {{ include('frontend/subjects/pluslets/_subject_specialist.html.twig') }}
    {% else %}
        {{ include('frontend/subjects/pluslets/_basic_pluslet.html.twig') }}
    {% endif %}
</div>