{# Default Nav #}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{{ path('frontend_subjects') }}">
            <img
            {# TODO: Configure path for logo image set in config #}
            {#{% if getconfig('site_logo') %}
                src="{{ getconfig('site_logo') }}"
            {% else %}#}
                src="{{ asset('build/images/frontend/sp_logo.png') }}"
            {#{% endif %}#}

            {% if getconfig('meta_author') %}
                alt="{{ getconfig('meta_author') }} logo"
            {% else %}
                alt="SubjectsPlus logo"
            {% endif %}

            class="img-fluid" style="width: 200px;" />
        </a>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mainNav">
        <div class="offcanvas-header justify-content-end pb-2">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{{ 'close.aria.label' | trans }}"></button>
        </div>
        <div class="offcanvas-body pt-0 justify-content-lg-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('frontend_subjects') }}">Guides</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('frontend_database') }}">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('frontend_staff') }}">Staff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Talkback</a>
                </li>
            </ul>
        </div>
        </div>
        <div>
        <button class="sp-navbar-toggler navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mainNav" aria-controls="mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="search-icon-nav ms-1" data-bs-toggle="offcanvas" href="#offcanvasSearchAll" role="button" aria-controls="offcanvasSearchAll" title="{{ 'control.header.search_icon' | trans  }}"><i class="fas fa-search"></i></a>
        </div>
    </div>
</nav>