{# Default Nav #}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{{ path('frontend_subjects') }}">
            <img src="{{ logoSrc }}" alt="{{ logoAlt }} logo" class="img-fluid" style="width: 200px;" />
        </a>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mainNav">
        <div class="offcanvas-header justify-content-end pb-2">
            {% include('frontend/includes/_offcanvas_close_btn.html.twig') %}
        </div>
        <div class="offcanvas-body pt-0 justify-content-lg-end">
            <ul class="navbar-nav">
                <li class="nav-item mx-lg-3">
                    <a class="nav-link" href="{{ path('frontend_subjects') }}">{{ 'public.default_nav.guides' | trans }}</a>
                </li>
                <li class="nav-item mx-lg-3">
                    <a class="nav-link" href="{{ path('frontend_database') }}">{{ 'public.default_nav.databases' | trans }}</a>
                </li>
                <li class="nav-item mx-lg-3">
                    <a class="nav-link" href="{{ path('frontend_staff') }}">{{ 'public.default_nav.staff' | trans }}</a>
                </li>
                <li class="nav-item mx-lg-3">
                    <a class="nav-link" href="#">{{ 'public.default_nav.faqs' | trans }}</a>
                </li>
                <li class="nav-item mx-lg-3">
                    <a class="nav-link" href="#">{{ 'public.default_nav.talkback' | trans }}</a>
                </li>
            </ul>
        </div>
        </div>
        <div>
        <button class="sp-navbar-toggler navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mainNav" aria-controls="mainNav">
            <span class="sp-navbar-toggler-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                    <path stroke="var(--THEME-MENU-LINK-COLOR)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22" />
                </svg>
            </span>
        </button>
        {# TODO: Add link/action for search button #}
        <a class="search-icon-nav ms-2" href="#" role="button" title="{{ 'public.default_nav.search' | trans }}">
            <i class="fas fa-search"></i>
        </a>
        </div>
    </div>
</nav>