{% extends 'backend/base.html.twig' %}

{% block title %}Logs index{% endblock %}

{% block body %}
    
    <h1>Logs index</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>message</th>
                <th>created_at</th>
                <th>token</th>
                <th>context</th>
                <th>level</th>
                <th>level_name</th>
                <th>uri</th>
                <th>method</th>
                <th>request</th>
                <th>client_ip</th>
                <th>client_port</th>
                <th>query_string</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in logs %}
            <tr>
                <td>{{ entry.id }}</td>
                <td>{{ entry.message | u.truncate(30, '...') }}</td>
                <td>{{ entry.createdAt | format_date() }}</td>
                <td>{{ entry.token|default('N/A') }}</td>
                <td>
                    {% if entry.context is empty %}
                        {{'N/A'}}
                    {% else %}
                        {% for context_key, context_entry in entry.context %}
                            {{ context_key ~ ': ' ~ (context_entry|join(', ')) }}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>{{ entry.level }}</td>
                <td>{{ entry.levelName }}</td>
                <td>{{ entry.uri | default('N/A') }}</td>
                <td>{{ entry.method | default('N/A') }}</td>
                <td>
                    {% if entry.request is empty %}
                        {{'N/A'}}
                    {% else %}
                        {% for request_key, request_entry in entry.request %}
                            {% if request_entry is iterable %}
                                {{ request_key ~ ': ' ~ (request_entry|json_encode(constant('JSON_PRETTY_PRINT'))) }}
                            {% else %}
                                {{ request_key ~ ': ' ~ request_entry }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>{{ entry.clientIp | default('N/A') }}</td>
                <td>{{ entry.clientPort | default('N/A') }}</td>
                <td>{{ entry.queryString | default('N/A') }}</td>
                <td>
                    <a href="{{ path('log_show', {'id': entry.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
