{% extends 'backend/base.html.twig' %}

{% block title %}Logs{% endblock %}

{% block content %}
    <h1>Logs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>id</th>
                <td>{{ log.id }}</td>
            </tr>
            <tr>
                <th>message</th>
                <td>{{ log.message }}</td>
            </tr>
            <tr>
                <th>created_at</th>
                <td>{{ log.createdAt|format_date() }}</td>
            </tr>
            <tr>
                <th>token</th>
                <td>{{ log.token | default('N/A') }}</td>
            </tr>
            <tr>
                <th>context</th>
                <td>
                    {% if log.context is empty %}
                        {{'N/A'}}
                    {% else %}
                        {% for context_key, context_entry in log.context %}
                            {{ (context_key ~ ': ' ~ (context_entry|join(', '))) | nl2br}}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>level</th>
                <td>{{ log.level }}</td>
            </tr>
            <tr>
                <th>level_name</th>
                <td>{{ log.levelName }}</td>
            </tr>
            <tr>
                <th>uri</th>
                <td>{{ log.uri }}</td>
            </tr>
            <tr>
                <th>method</th>
                <td>{{ log.method }}</td>
            </tr>
            <tr>
                <th>request</th>
                <td>
                    {% if log.request is empty %}
                        {{'N/A'}}
                    {% else %}
                        {% for request_key, request_entry in log.request %}
                            {{ request_key ~ ': ' ~ (request_entry|join(', ')) }}
                        {% endfor %}
                    {% endif %}
                </td>
            <tr>
                <th>client_ip</th>
                <td>{{ log.clientIp | default('N/A') }}</td>
            </tr>
            <tr>
                <th>client_port</th>
                <td>{{ log.clientPort }}</td>
            </tr>
            <tr>
                <th>query_string</th>
                <td>{{ log.queryString | default('N/A') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('log_index') }}">back to list</a>
{% endblock %}
