{% extends 'backend/base.html.twig' %}

{% block title %}Hello ConfigController!{% endblock %}


{% block content %}
<div class="container">
    <h1>App Config</h1>
    <a href="{{ path('config_new') }}">Add New Config</a>

    <ul class="list-group list-group-horizontal">
    {% for cat in configCategories %}
      <li class="list-group-item">
        <a href="/control/config/category/{{ cat.id}}">{{ cat.categoryKey}}</a></li>
    {% endfor %}
    </ul>
<hr />
    <table class="table">
        <thead>
            <tr>
                <th>Label</th>
                <th>Key</th>
                <th>Value</th>
                <th>Required</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for config in configs %}
                <tr>
                    <td>{{ config.optionLabel }}</td>
                    <td>{{ config.optionKey }}</td>
                    <td>{{ config.optionValue }}</td>
                    <td>{{ config.required }}</td>
                    <td>{{ config.configCategory }}</td>
                    <td>
                         <a href="{{ path('config_edit', {'id': config.id}) }}">Edit</a>
                         &nbsp;|&nbsp;
                         {{ include('backend/config/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}