{% extends 'backend/base.html.twig' %}

{% block title %}Hello ConfigController!{% endblock %}


{% block content %}
<div class="container">
    <h1>App Config</h1>
    <a href="{{ path('config_new') }}">Add New Config</a>
    <table class="table">
        <thead>
            <tr>
                <th>Label</th>
                <th>Key</th>
                <th>Value</th>
                <th>Autoload</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for config in configs %}
                <tr>
                    <td>{{ config.id }}</td>
                    <td>{{ config.optionKey }}</td>
                    <td>{{ config.optionValue }}</td>
                    <td>{{ config.autoload }}</td>
                    <td>{{ config.category }}</td>
                    <td>
                         <a href="{{ path('config_edit', {'id': config.id}) }}">Edit</a>
                         &nbsp;|&nbsp;
                         {{ include('backend/config/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}