<li class="nav-item dropdown mx-xl-2">
    <a class="nav-link dropdown-toggle" href="#" id="guidesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{'control.header.guides' | trans}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="guidesDropdown">
        <li><a class="dropdown-item" href="/control/guides/new">{{ 'control.header.guides.new_guide' | trans }}</a></li>
        <li><a class="dropdown-item" href="/control/guides/">{{ 'control.header.guides.browse_guides' | trans }}</a></li>
        <!--<li><a class="dropdown-item" href="/control/guides/manage.php">{{ 'control.header.guides.manage_files' | trans }}</a></li>
        <li><a class="dropdown-item" href="{{ path('staff_link_checker') }}">{{ 'control.link_checker' | trans }}</a></li>
        <li><a class="dropdown-item" href="/control/guides/stats.php">{{ 'control.header.guides.stats' | trans }}</a></li>-->
    </ul>
</li>