<li class="nav-item dropdown mx-xl-2">
    <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{'control.header.admin' | trans}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
        <li><a class="dropdown-item" href="/control/admin">{{ 'control.header.admin_dashboard' | trans }}</a></li>
        <li><a class="dropdown-item" href="/control/config">{{ 'App Config' | trans }}</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/control/staff">{{ 'control.header.admin.users' | trans }}</a></li>
        <li><a class="dropdown-item" href="/control/admin/user.php?browse=true">{{ 'Add new user' | trans }}</a></li>
        <li><a class="dropdown-item" href="/control/department">{{ 'control.header.admin.departments' | trans }}</a></li>
        <li><a class="dropdown-item" href="/control/admin/departments.php">{{ 'Departments' | trans }}</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/control/admin/manage_guides.php">{{ 'control.header.admin.manage_guides' | trans }}</a></li>
        <li><a class="dropdown-item" href="/control/admin/guide_collections.php">{{ 'control.header.admin.guide_collections' | trans }}</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/control/admin/sources.php">{{ 'control.header.admin.database_types' | trans }}</a></li>
        <li><a class="dropdown-item" href="/control/faq/collections">{{ 'control.header.faqs.admin.manage_faq_collections' | trans }}</a></li>
        <li><a class="dropdown-item" href="/control/edit-config.php">{{ 'control.header.admin.edit_config' | trans }}</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/control/log">{{ 'control.header.admin.logs' | trans }}</a></li>
    </ul>
</li>