<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle user-nav-dropdown" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{{ 'control.header.user_icon' | trans  }}">
        {# TODO: Replace icon with user profile thumbnail #}
        <i class="fas fa-user-circle"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="userDropdown">
        <li class="dropdown-item-text">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchMode">
                <label class="form-check-label" for="switchMode">{{ 'control.dashboard.enable_dark_mode' | trans }}</label>
            </div>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/control/staff/{{ app.user.staffId }}/edit">{{ 'control.dashboard.edit_profile' | trans  }}</a></li>
        <li><a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'login.form.logout.prompt' | trans }}</a></li>
    </ul>
</li>