{% extends 'backend/base.html.twig' %}

{% block title %}Browse Records{% endblock %}

{% block content %}
    <h1>Title index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>TitleId</th>
                <th>Title</th>
                <th>AlternateTitle</th>
                <th>Description</th>
                <th>InternalNotes</th>
                <th>Pre</th>
                <th>LastModifiedBy</th>
                <th>LastModified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for title in titles %}
            <tr>
                <td>{{ title.titleId }}</td>
                <td>{{ title.title }}</td>
                <td>{{ title.alternateTitle }}</td>
                <td>{{ title.description }}</td>
                <td>{{ title.internalNotes }}</td>
                <td>{{ title.pre }}</td>
                <td>{{ title.lastModifiedBy }}</td>
                <td>{{ title.lastModified ? title.lastModified|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('backend_record_show', {'titleId': title.titleId}) }}">show</a>
                    <a href="{{ path('backend_record_edit', {'titleId': title.titleId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('backend_record_new') }}">Create new</a>
{% endblock %}
