{% extends 'backend/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('record-index-loader') }}
{% endblock %}


{% block title %}Records{% endblock %}

{% block content %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Records</h1>
<div id="record-index-container"></div>



{#    <div id="record-search-container"></div>#}
{#    {{ encore_entry_script_tags('record_search') }}#}

{#    {{ encore_entry_script_tags('record_results') }}#}
{#    <div id="RecordResults"></div>#}


{% endblock %}


