{% extends 'backend/base.html.twig' %}

{% block title %}Record index{% endblock %}

{% block content %}
<div class="container">
    <h1>Record index</h1>
<a href="{{ path('backend_record_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
            <th>actions</th>
                <th>Id</th>
                <th>Title</th>
                <th>Alternate_title</th>
                <th>Description</th>
                <th>Internal_notes</th>
                <th>Pre</th>
                <th>Location</th>
                <th>Call_number</th>
                <th>Eres_display</th>
                <th>Display_note</th>
                <th>Trial_start</th>
                <th>Trial_end</th>
                <th>Record_status</th>

            </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>
                    <a href="{{ path('backend_record_show', {'id': record.id}) }}">show</a>
                    <a href="{{ path('backend_record_edit', {'id': record.id}) }}">edit</a>
                </td>
                <td>{{ record.id }}</td>
                <td>{{ record.title }}</td>
                <td>{{ record.alternateTitle }}</td>
                <td>{{ record.description }}</td>
                <td>{{ record.internalNotes }}</td>
                <td>{{ record.pre }}</td>
                <td>{{ record.location }}</td>
                <td>{{ record.callNumber }}</td>
                <td>{{ record.eresDisplay }}</td>
                <td>{{ record.displayNote }}</td>
                <td>{{ record.trialStart ? record.trialStart|date('Y-m-d') : '' }}</td>
                <td>{{ record.trialEnd ? record.trialEnd|date('Y-m-d') : '' }}</td>
                <td>{{ record.recordStatus }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
{% endblock %}
