<li class="nav-item">
{% if tab.external_url %}
<a class="nav-link" href="{{tab.external_url}}">Tab {{ tab.label }}</a>
{% else %}
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#{{tab.id}}" type="button" role="tab" aria-controls="{{tab.id}}">
    {{tab.label}}
    </button>
{% endif %}


</li>
<!-- TODO: tabs that are external links -->
<!-- TODO: aria-selected -->
<!-- TODO: give these tabs real numbers -->