{% extends 'base.html.twig' %}

{% if getconfig('theme_id') %}
    {% set dataTheme = getconfig('theme_id') %}
{% endif %}

{% block html_open_tag %}
    <html lang="{{ app.request.locale }}" data-theme="{{ dataTheme }}">
{% endblock %}

{% block title %}
{% block metatitle %}SubjectsPlus{% endblock %}
    {% if getconfig('meta_author') %}
        | {{ getconfig('meta_author') }}
    {% endif %}
{% endblock %}

{% block theming %}
    {% include('frontend/includes/user_theme_values.html.twig') %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('frontend_main') }}

    {% if getconfig('theme_id') == 'um' %}
        {{ encore_entry_link_tags('um') }}
    {% elseif getconfig('theme_id') == 'custom' %}
        {{ encore_entry_link_tags('custom') }}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('frontend_main') }}
{% endblock %}

{% block body %}
    <main>
    {% block navmenu %}
        {% include('frontend/includes/navigation_switcher.html.twig') %}
    {% endblock %}
    {% block header %}
        <div class="page-header">
            <div class="container py-4">
                {% block header_actions %}{% endblock %}
                {% block header_backto %}{% endblock %}
                <h1 class="text-center fw-light mb-0">{% block header_title %}{% endblock %}</h1>
                {% block header_content %}{% endblock %}
            </div>
        </div>
    {% endblock %}
    {% block search %}{% endblock %}
    <div class="container py-4">
        {% block main %}
            <p>Content goes here:
                <a href="#" class="link-underline">Link with underline</a> | <a href="#" class="link-default">Link default</a>
            </p>
        {% endblock %}
    </div>
</main>
{% endblock %}

{% block footer %}
    {% include('frontend/includes/footer.html.twig') %}
{% endblock %}