{% extends 'base.html.twig' %}

{# Set theme config variables for future use #}
{% if getconfig('theme_id') %}
    {% set dataTheme = getconfig('theme_id') %}
{% endif %}
{% if getconfig('meta_author') %}
    {% set metaAuthor = getconfig('meta_author') %}
{% endif %}
{% if getconfig('meta_description') %}
    {% set metaDescription = getconfig('meta_description') %}
{% endif %}


{% block html_open_tag %}
    <html lang="{{ app.request.locale }}" data-theme="{{ dataTheme }}">
{% endblock %}

{% block title %}
{% block title_tag %}SubjectsPlus{% endblock %}
    {% if metaAuthor is defined %}
        | {{ metaAuthor }}
    {% endif %}
{% endblock %}

{% block metatags %}
    {% include('frontend/includes/meta_tags.html.twig') %}
    {% block meta_tags_description %}
        {% if  metaDescription is defined %}
            <meta name="description" content="{{ metaDescription }}" >
        {% endif %}
    {% endblock %}
    {% block ogtags %}
        {% block og_title %}
            <meta property="og:title" content=""/>
        {% endblock %}
        {% block og_url %}
            <meta property="og:url" content=""/>
        {% endblock %}
        {% block og_description %}
            <meta property="og:description" content=""/>
        {% endblock %}
        {% block og_image %}
            <meta property="og:image" content=""/>
        {% endblock %}
    {% endblock %}
{% endblock %}

{% block theming %}
    {% include('frontend/includes/user_theme_values.html.twig') %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('frontend_main') }}

    {% if dataTheme is defined %}
        {{ encore_entry_link_tags(dataTheme) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('frontend_main') }}
{% endblock %}

{% block body %}
    <main>
    {% block navmenu %}
        {% include('frontend/includes/navigation_switcher.html.twig') %}
    {% endblock %}
    {% block header %}
        <div class="page-header">
            <div class="container py-4">
                {% block header_actions %}{% endblock %}
                {% block header_backto %}{% endblock %}
                <h1 class="text-center fw-light mb-0">{% block header_title %}{% endblock %}</h1>
                {% block header_content %}{% endblock %}
            </div>
        </div>
    {% endblock %}
    {% block search %}{% endblock %}
    <div class="container py-4">
        {% block main %}
            <p>Content goes here:
                <a href="#" class="link-underline">Link with underline</a> | <a href="#" class="link-default">Link default</a>
            </p>
        {% endblock %}
    </div>
</main>
{% endblock %}

{% block footer %}
    {% include('frontend/includes/footer.html.twig') %}
{% endblock %}