<nav class="navbar navbar-expand-lg bg-light border-navbar">
    <div class="container">
        <a class="navbar-brand" href="/control/dashboard">
            <img src="{{ asset('build/images/backend/sp_logo.png') }}" alt="SubjectsPlus logo" class="img-fluid" style="width: 200px;" />
        </a>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mainNav">
            <div class="offcanvas-header justify-content-end pb-2">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{{ 'close.aria.label' | trans }}"></button>
            </div>
            <div class="offcanvas-body pt-0 justify-content-lg-end">
                <ul class="navbar-nav">
                    {{ include('backend/includes/_navigation/_nav_records.html.twig') }}
                    {{ include('backend/includes/_navigation/_nav_guides.html.twig') }}
                    {{ include('backend/includes/_navigation/_nav_faqs.html.twig') }}
                    {{ include('backend/includes/_navigation/_nav_talkback.html.twig') }}
                    {{ include('backend/includes/_navigation/_nav_media.html.twig') }}
                    {{ include('backend/includes/_navigation/_nav_admin.html.twig') }}
                    {{ include('backend/includes/_navigation/_nav_user.html.twig') }}
                </ul>
            </div>
        </div>
        <div>
            <button class="sp-navbar-toggler navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mainNav" aria-controls="mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="search-icon-nav ms-1" data-bs-toggle="offcanvas" href="#offcanvasSearchAll" role="button" aria-controls="offcanvasSearchAll" title="{{ 'control.header.search_icon' | trans  }}"><i class="fas fa-search"></i></a>
        </div>
    </div>
</nav>