<tr>
    <td>
        {% set location = result.location | first %}
        <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ location.locationId }}" aria-expanded="false" aria-controls="collapse{{ location.locationId }}">
            <span class="bi bi-info-circle"></span>
        </button>
        <a href="{{database_url(location.location, location.accessRestrictions.restrictionsId)}}">
        {{result.title}}
        </a>
        <div class="collapse" id="collapse{{location.locationId}}">
            <div class="card card-body">{{ result.description | raw }}</div>
        </div>
    </td>
</tr>
