<div class="modal fade" id="confirmDeleteFAQ" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmDeleteFAQLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirmDeleteFAQLabel"><i class="fas fa-exclamation-circle btn-link-danger"></i> {{ 'control.faqs.delete_faq.modal.header' | trans }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'close.aria.label' | trans }}"></button>
            </div>
            <div class="modal-body">
                <p class="text-start">{{ 'control.faqs.delete_faq.modal.text' | trans }}</p>
                <form method="post" action="{{ path('faq_delete', {'faqId': faq.faqId}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ faq.faqId) }}">
                    <button type="button" class="btn btn-cancel btn-round me-2" data-bs-dismiss="modal">{{ 'control.faqs.delete_faq.cancel_button' | trans }}</button>
                    <button type="submit" class="btn btn-danger btn-round"><i class="fas fa-trash"></i> {{ 'control.faqs.delete_faq.confirm_button' | trans }}</button>
                </form>
            </div>
        </div>
    </div>
</div>