<div class="row">
    <div class="col-lg-8">
        <div class="panel-basic border-basic">
        {{ form_start(form) }}
            {{ form_row(form.question, {
                'label': 'control.faq.form.question' | trans,
                'label_attr': {'class': 'fw-bold'}
            }) }}
            {{ form_row(form.answer, {
                'label': 'control.faq.form.answer' | trans,
                'label_attr': {'class': 'fw-bold'}
            }) }}
        </div>
    </div>
    <div class="col-lg-3 offset-lg-1">
        <h3 class="mt-4 mt-lg-0">{{ 'control.faq.form.settings_header' | trans }}</h3>
        {{ form_row(form.active, {
            'label': 'control.faq.form.active_faq' | trans }) }}
        {{     dump(form.vars.value)  }}
        {% if form.active.vars.value == true %}
            <p class="fs-xs fst-italic mt-n3 mb-4">{{ 'control.faq.form.active_faq_true.message' | trans  }}</p>
        {%  else %}
            <p class="fs-xs fst-italic mt-n3 mb-4">{{ 'control.faq.form.active_faq_false.message' | trans  }}</p>
        {% endif %}

        {{ form_row(form.keywords, {'label': 'control.faq.form.keywords' | trans}) }}
        {{ form_row(form.subject, {
            'label': 'control.faq.form.subject' | trans,
            'attr': {'class': 'invisible', 'data-placeholder-text': 'control.faq.form.subject_placeholder' | trans}
        }) }}
        {{ form_row(form.faqpage, {
            'label': 'control.faq.form.faq_collection_page' | trans,
            'attr': {'class': 'invisible', 'data-placeholder-text': 'control.faq.form.faq_collection_page_placeholder' | trans}
        }) }}
        {{ form_rest(form) }}
        <button class="btn btn-gradient mt-3">{{ button_label|default('control.faq.form.save_faq' | trans) }}</button>
        {{ form_end(form) }}
        {% if delete_faq == 'true' %}
            {{ include('backend/faq/_delete_form.html.twig') }}
        {% endif %}
    </div>
    {{ encore_entry_script_tags('react_select_init') }}
</div>