{{ form_start(form) }}
<div class="row">
    <div class="col-lg-8">
        <div class="panel-basic border-basic">
            {{ form_row(form.question, {
                'label': 'control.faq.form.question' | trans,
                'label_attr': {'class': 'fw-bold'}
            }) }}
            {{ form_row(form.answer, {
                'label': 'control.faq.form.answer' | trans,
                'label_attr': {'class': 'fw-bold'}
            }) }}
        </div>
    </div>
    <div class="col-lg-3 offset-lg-1">
        <h3 class="mt-4 mt-lg-0">{{ 'control.faq.form.settings_header' | trans }}</h3>
        {{ form_row(form.active, {'label': 'control.faq.form.active_faq' | trans}) }}
        
        {# Initial loading of faq_active_message #}
        {% if form.active.vars.checked %}
            <p id="faq_active_message" class="fs-xs fst-italic mt-n3 mb-4">{{ 'control.faq.form.active_faq_true.message' | trans}}</p>
        {% else %}
            <p id="faq_active_message" class="fs-xs fst-italic mt-n3 mb-4">{{ 'control.faq.form.active_faq_false.message' | trans}}</p>
        {% endif %}

        {# Toggle listener for faq_active_message #}
        <script type="text/javascript">
            let activeField = document.getElementById('faq_active');
            let activeMessage = document.getElementById('faq_active_message');

            activeField.addEventListener('change', (event) => {
                if (event.currentTarget.checked) {
                    activeMessage.innerText = "{{ 'control.faq.form.active_faq_true.message' | trans }}"
                } else {
                    activeMessage.innerText = "{{ 'control.faq.form.active_faq_false.message' | trans }}"
                }
            });
        </script>

        <div class="mb-3">
            {{ form_label(form.keywords, 'control.faq.form.keywords' | trans) }} <button type="button" class="btn btn-icon-default fs-sm p-0" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ 'control.faq.form.keywords.help.text' | trans }}"><i class="fas fa-info-circle"></i></button>
            {{ form_widget(form.keywords) }}
        </div>

        {{ form_row(form.subject, {
            'label': 'control.faq.form.subject' | trans,
            'attr': {'class': 'invisible', 'data-placeholder-text': 'control.faq.form.subject_placeholder' | trans}
        }) }}
        {{ form_row(form.faqpage, {
            'label': 'control.faq.form.faq_collection_page' | trans,
            'attr': {'class': 'invisible', 'data-placeholder-text': 'control.faq.form.faq_collection_page_placeholder' | trans}
        }) }}
        {{ form_rest(form) }}
        {{ encore_entry_script_tags('react_select_init') }}

        <div class="row row-cols-2 mt-5">
            <div class="col-6">
                <button class="btn btn-gradient btn-round">{{ button_label|default('control.faq.form.save_faq' | trans) }}</button>
            </div>
            <div class="col-6 text-end align-self-center">
            {% if delete_faq == 'true' %}
                {{ include('backend/faq/_trash_button.html.twig') }}
            {% endif %}
            </div>
        </div>
        {{ form_end(form) }}

        {% if update_history == 'true' %}
            {{ include('backend/faq/_update_history.html.twig') }}
        {% endif %}
    </div>
</div>
{% if delete_faq == 'true' %}
    {{ include('backend/faq/_delete_form.html.twig') }}
{% endif %}