{% extends 'backend/base.html.twig' %}

{% block title %}{{ 'control.header.faqs.index' | trans }} | SubjectsPlus{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-8">
            <h1 class="fw-light">{{ 'control.header.faqs.index' | trans }}</h1>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchShowActiveFAQs">
                <label class="form-check-label fs-sm" for="switchShowActiveFAQs">{{ 'control.faqs.index.active_faqs_label' | trans }}</label>
            </div>
        </div>
        <div class="col-4 col-xl-3 offset-xl-1 text-end text-xl-start">
            <a class="btn btn-gradient btn-pill-icon" type="button" href="{{ path('faq_new') }}"><i class="fas fa-plus-circle"></i> {{ 'control.faqs.create_new_button' | trans }}</a>
        </div>
    </div>

    <div class="mt-3">
        {{ include('backend/faq/_search_with_filters.html.twig') }}
    </div>

    <div class="row mt-4">
        <div class="col-xl-8">
            {# TODO: REACT table with sorting for Question and Update Date  #}
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>{{ 'control.faqs.table.heading.actions' | trans }}</th>
                    <th>{{ 'control.faqs.table.heading.question' | trans }} <button class="btn btn-sm btn-icon-default rounded-0 px-1 py-0" title="Sort"><i class="fas fa-arrow-up"></i></button></th>
                    <th>{{ 'control.faqs.table.heading.answer' | trans }}</th>
                    <th>{{ 'control.faqs.table.heading.visibility' | trans }}</th>
                    <th>{{ 'control.faqs.table.heading.last_update' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for faq in faqs %}
                    <tr>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="{{ 'control.faqs.table.action_buttons.aria' | trans }}">
                                <a href="{{ path('faq_edit', {'faqId': faq.faqId}) }}" class="btn btn-icon-default rounded-0" type="button" title="{{ 'control.faqs.table.button.edit' | trans }}"><i class="fas fa-pen"></i></a>
                                <a href="{{ path('frontend_faq_show', {'faqId': faq.faqId}) }}" class="btn btn-icon-default rounded-0" type="button" title="{{ 'control.faqs.table.button.preview' | trans }}" target="_blank"><i class="fas fa-eye fs-sm"></i></a>
                            </div>
                        </td>
                        <td>
                            <div><a href="{{ path('faq_edit', {'faqId': faq.faqId}) }}" class="btn-link-default">{{ faq.question | u.truncate(200, '...') | striptags | raw}}</a></div>
                            {% if faq.keywords %}
                                <div class="fs-xs mt-3">
                                    <strong>{{ 'control.faqs.table.label.keywords' | trans }}:</strong>
                                    {% for keyword in faq.keywords %}
                                        {{ keyword }}
                                        {% if not loop.last %}
                                            {{'| '}}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </td>
                        <td>{{ faq.answer | u.truncate(80, '...')| striptags | raw }}</td>
                        <td>
                            {% if faq.active %}
                                {{ 'control.faqs.table.status.active' | trans }}
                            {% else %}
                                {{ 'control.faqs.table.status.not_active' | trans }}
                            {% endif %}
                        </td>
                        <td style="min-width:130px;">
                            {# TODO: Add last updated #}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ 'control.faqs.table.no_records' | trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xl-3 offset-xl-1">
            <h5>Key to Icons</h5>
            <ul class="list-unstyled list-space fs-sm">
                <li><i class="fas fa-pen"></i> Edit FAQ</li>
                <li><i class="fas fa-eye fs-sm"></i> View FAQ on public website</li>
            </ul>
            {# TODO: Add link to help #}
            <p class="mt-4"><a href="#" class="btn-link">Help with FAQs</a></p>
        </div>
    </div>
</div>
{% endblock %}