{% extends 'backend/base.html.twig' %}

{% block title %}{{ 'control.header.faqs.index' | trans }} | SubjectsPlus{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-8">
            <h1 class="fw-light">{{ 'control.header.faqs.index' | trans }}</h1>
        </div>
        <div class="col-4 text-end">
            <a class="btn btn-gradient btn-pill-icon" type="button" href="{{ path('faq_new') }}"><i class="fas fa-plus-circle"></i> {{ 'control.faqs.create_new_button' | trans }}</a>
        </div>
    </div>

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>FaqId</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Keywords</th>
                <th>Visibility</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for faq in faqs %}
            <tr>
                <td>{{ faq.faqId }}</td>
                <td>{{ faq.question | raw }}</td>
                <td>{{ faq.answer | raw }}</td>
                <td>
                    {% for keyword in faq.keywords %}
                        {{ keyword }}
                        {% if not loop.last %}
                            {{'| '}}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if faq.active %}
                        {{ 'Active' }}
                    {% else %}
                        {{ 'Inactive' }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('faq_show', {'faqId': faq.faqId}) }}">show</a>
                    <a href="{{ path('faq_edit', {'faqId': faq.faqId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}