{% extends 'backend/base.html.twig' %}

{% block title %}{{ 'control.header.faqs.index' | trans }} | SubjectsPlus{% endblock %}

{% block content %}
<div class="container py-5">

    {% for message in app.flashes('notice') %}
        <div class="flash-notice alert alert-info text-center mb-4">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-8">
            <h1 class="fw-light">{{ 'control.header.faqs.index' | trans }}</h1>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchShowUserFAQs">
                <label class="form-check-label" for="switchShowUserFAQs">Show ONLY my FAQs</label>
            </div>
        </div>
        <div class="col-4 text-end">
            <a class="btn btn-gradient btn-pill-icon" type="button" href="{{ path('faq_new') }}"><i class="fas fa-plus-circle"></i> {{ 'control.faqs.create_new_button' | trans }}</a>
        </div>
    </div>

    <div class="mt-3">
        {{ include('backend/faq/_search_with_filters.html.twig') }}
    </div>

    <div class="text-end mt-5">
        {{ include('backend/faq/_sorting_table_buttons.html.twig') }}
    </div>

    <table class="table table-striped table-responsive mt-3">
        <thead>
            <tr>
                <th>Visibility</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for faq in faqs |reverse %}
            <tr>
                <td class="fs-xs text-center">
                    {% if faq.active %}
                        {{ '<i class="fas fa-circle btn-link-success"></i>' }}
                        <span class="d-block">public</span>
                    {% else %}
                        {{ '<i class="fas fa-circle btn-link-danger"></i>' }}
                        <span class="d-block">hidden</span>
                    {% endif %}
                </td>
                <td>
                    <div title="ID: {{ faq.faqId }}">{{ faq.question | u.truncate(200, '...') | striptags | raw}}</div>
                    {% if faq.keywords %}
                        <div class="fs-xs mt-3">
                            <strong>Keywords:</strong>
                            {% for keyword in faq.keywords %}
                                {{ keyword }}
                                {% if not loop.last %}
                                    {{'| '}}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
                <td>{{ faq.answer | u.truncate(80, '...') | striptags | raw }}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a href="{{ path('faq_show', {'faqId': faq.faqId}) }}" class="btn btn-link fs-xs" type="button"><i class="fas fa-folder-open fs-sm"></i> Show</a>
                        <a href="{{ path('faq_edit', {'faqId': faq.faqId}) }}" class="btn btn-link fs-xs" type="button"><i class="fas fa-pen fs-sm"></i> Edit</a>
                        {# TODO: link to front-end preview #}
                        <a href="#" class="btn btn-link fs-xs" type="button"><i class="fas fa-eye fs-sm"></i> Preview</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}