{% extends 'backend/base.html.twig' %}

{% block title %}{{ 'control.header.faqs.create_new_faq' | trans }} | SubjectsPlus{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bs-tooltips') }}
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-8">
                <h1 class="fw-light">{{ 'control.header.faqs.create_new_faq' | trans }}</h1>
            </div>
            <div class="col-4 text-end">
                <a href="{{ path('faq_index') }}"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'control.back_to_list' | trans }}</a>
            </div>
        </div>
        <div class="row row-cols-lg-2">
            <div class="col-lg-8 text-end">
                {{ include('backend/includes/add_custom_tokens.html.twig') }}
            </div>
        </div>
        <div class="mt-3">
            {{ include('backend/faq/_form.html.twig') }}
        </div>
    </div>
    {{ include('backend/media/sidebar.html.twig') }}
    {{ include('backend/records/sidebar.html.twig') }}
{% endblock %}