{% extends 'backend/base.html.twig' %}

{% block title %}{{ 'control.header.faqs.show_faq' | trans }} | SubjectsPlus{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-8">
                <h1 class="fw-light d-inline-block me-2">{{ 'control.header.faqs.show_faq' | trans }}</h1>
                <a href="#" class="btn-link fs-sm align-baseline" type="button"><i class="fas fa-eye"></i> Preview</a>
            </div>
            <div class="col-4 text-end">
                <a href="{{ path('faq_index') }}"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'control.back_to_list' | trans }}</a>
            </div>
        </div>

        <a href="{{ path('faq_edit', {'faqId': faq.faqId}) }}">edit</a>

        {% for message in app.flashes('notice') %}
            <div class="flash-notice alert alert-info text-center mb-4">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-borderless">
            <tbody>
            <tr>
                <th>FaqId</th>
                <td>{{ faq.faqId }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ faq.question | raw }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ faq.answer | raw }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>
                    {% for keyword in faq.keywords %}
                        {{ keyword }}
                        {% if not loop.last %}
                            {{'| '}}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Visibility</th>
                <td>
                    {% if faq.active %}
                        {{ 'Active' }}
                    {% else %}
                        {{ 'Inactive' }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Staff</th>
                {% for entry in staff %}
                    <span><td>{{ "%s, %s"|format(entry.dateAdded|format_date(), entry.email) }}</td></span>
                {% endfor %}
            </tr>
            <tr>
                <th>Subjects</th>
                {% for subject in subjects %}
                <span><td>{{ subject.subject }}</td><span>
                {% endfor %}
            </tr>
            <tr>
                <th>Collections</th>
                {% for faqpage in faqpages %}
                    <span><td>{{ faqpage.name }}</td></span>
                {% endfor %}
            </tr>
            </tbody>
        </table>

        <div class="mt-3">
            {{ include('backend/faq/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}