{% extends 'backend/base.html.twig' %}

{% block title %}{{ 'control.header.faqs.show_faq' | trans }} {{ faq.faqId }} | SubjectsPlus{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bs_tooltips') }}
{% endblock %}

{% block content %}
<div class="container py-5">

    {% for message in app.flashes('notice') %}
        <div class="flash-notice alert alert-info text-center mb-4">
            {{ message }}
        </div>
    {% endfor %}

    <a href="{{ path('faq_index') }}" class="fs-xs"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'control.faqs.back_to_list' | trans }}</a>

    <a href="{{ path('frontend_faq_show', {'faqId': faq.faqId}) }}" class="btn-link fs-xs ms-2" target="_blank"><i class="fas fa-eye"></i> {{ 'control.faqs.preview.label' | trans }}</a>

    <h1 class="fw-light">{{ 'control.header.faqs.show_faq' | trans }}</h1>

    <div class="row mt-4">
        <div class="col-lg-8">
            <div class="panel-basic border-basic">
                <h4>{{ 'control.faqs.table.heading.question' | trans }}</h4>
                {{ faq.question | raw }}
            </div>
            <div class="panel-basic border-basic mt-4">
                <h4>{{ 'control.faqs.table.heading.answer' | trans }}</h4>
                {{ faq.answer | raw }}
            </div>
        </div>
        <div class="col-lg-4 col-xl-3 offset-xl-1">
            <h3 class="mt-4 mt-lg-0">{{ 'control.faq.form.settings_header' | trans }}</h3>
            <p class="fs-xs fst-italic">
                {% if faq.active %}
                    <i class="fas fa-check color-primary"></i> {{ 'control.faq.form.active_faq_true.message' | trans }}
                {% else %}
                    <i class="fas fa-times"></i> {{ 'control.faq.form.active_faq_false.message' | trans }}
                {% endif %}
            </p>
            <h5 class="mt-4 fw-semi mb-1">{{ 'control.faqs.table.label.keywords' | trans }}</h5>
             <p class="fs-sm">{% for keyword in faq.keywords %}
                    {{ keyword }}
                    {% if not loop.last %}
                        {{'| '}}
                    {% endif %}
                {% endfor %}
             </p>
            <h5 class="mt-4 fw-semi mb-1">{{ 'control.faq.form.subject' | trans }}</h5>
            <div class="fs-sm">
                {% for subject in faq.subjects %}
                    {{ subject.subject }}
                    {% if not loop.last %}
                        {{'| '}}
                    {% endif %}
                {% endfor %}
            </div>
            <h5 class="mt-4 fw-semi mb-1">{{ 'control.faq.form.faq_collection_page' | trans }}</h5>
            <div class="fs-sm">
                {% for faqpage in faq.faqpages %}
                    {{ faqpage.name }}
                    {% if not loop.last %}
                        {{'| '}}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row row-cols-2 mt-5">
                <div class="col-6">
                    <a class="btn btn-gradient btn-round" href="{{ path('faq_edit', {'faqId': faq.faqId}) }}">{{ 'control.show_faq.button.edit_faq' | trans }}</a>
                </div>
                <div class="col-6 text-end align-self-center">
                    {{ include('backend/faq/_trash_button.html.twig') }}
                    {{ include('backend/faq/_delete_form.html.twig') }}
                </div>
            </div>
            {{ include('backend/faq/_update_history.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}